@import "./home.scss";
* {
  margin: 0;
  padding: 0;
}

*::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0000;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.container {
  max-width: 1384px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
